# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [70]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from urllib.parse import urlencode

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [71]:
cities_csv = os.path.join("..", "output_data", "cities.csv")

cities_df = pd.read_csv(cities_csv)
cities_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05
...,...,...,...,...,...,...,...,...,...,...
543,543,yabrud,0,SY,1558378840,32,33.97,36.66,80.60,8.05
544,544,paraiso,5,MX,1558378898,4,24.01,-104.61,84.20,16.11
545,545,veraval,0,FR,1558378898,62,49.65,0.71,61.00,8.05
546,546,novyy urgal,100,RU,1558378899,93,51.07,132.56,49.74,2.68
547,547,tongren,4,CN,1558378899,64,27.72,109.18,55.86,2.84

In [59]:
weights = cities_df['Humidity']

In [60]:
location = cities_df[['Lat', 'Lng']]

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [61]:
gmaps.configure(api_key = g_key)
humidity_map = gmaps.figure()
humidity_map.add_layer(gmaps.heatmap_layer(locations = location, weights = weights))
humidity_map

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [62]:
newcities_df = cities_df.loc[(cities_df['Max Temp'] > 70) & (cities_df['Max Temp'] < 80) 
              & (cities_df['Wind Speed'] < 10) & (cities_df['Cloudiness'] == 0)]
newcities_df = newcities_df.dropna()
newcities_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32
88,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50
138,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93
297,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77
444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [88]:
cities = []
countries = []
hotels = []

In [96]:
url = "https://maps.googleapis.com/maps/api/place/textsearch/json?"

for index, row in newcities_df.iterrows():
    city = row['City']
    country = row['Country']
    
    lat = row['Lat'] 
    lng = row['Lng']
    
    params = {
        'key': g_key,
        'query':'hotel',
        'radius':'5000',
        'location':f'{lat},{lng}'
    }

    loopurl = url + urlencode(params)

    response = requests.get(loopurl)
    data = response.json()
    hotel = data['results'][0]['name']
    
    cities.append(city)
    countries.append(country)
    hotels.append(hotel)
    
hotel_df = pd.DataFrame({
    'hotel': hotels,
    'country': countries,
    'city': cities
    
})

hotel_df

                                               hotel country          city
0                                    Escarpas Resort      BR  ponta do sol
1                                   Hotel Navegantes      BR      cidreira
2                Palissandre Cote Ouest resort & SPA      MG     morondava
3   Whistling Woodzs - Best Jungle Resort in Dandeli      IN         vaini
4        Hotel Marchica Lagoon Resort, Nador Morocco      MA         nador
5                                  Mount Mogok Hotel      MM         mogok
6                                     Mountain Hotel      IR       birjand
7                      Kanto Island Inn Suites & Spa      BR  ponta do sol
8                                   Hotel Navegantes      BR      cidreira
9                Palissandre Cote Ouest resort & SPA      MG     morondava
10  Whistling Woodzs - Best Jungle Resort in Dandeli      IN         vaini
11       Hotel Marchica Lagoon Resort, Nador Morocco      MA         nador
12                                 Mount Mogok Hotel      MM         mogok
13                                    Mountain Hotel      IR       birjand
14                                   Escarpas Resort      BR  ponta do sol
15                                  Hotel Navegantes      BR      cidreira
16               Palissandre Cote Ouest resort & SPA      MG     morondava
17                               Dandeli Jungle Stay      IN         vaini
18       Hotel Marchica Lagoon Resort, Nador Morocco      MA         nador
19                                 Mount Mogok Hotel      MM         mogok
20                                    Mountain Hotel      IR       birjand
21                                   Escarpas Resort      BR  ponta do sol
22                                  Hotel Navegantes      BR      cidreira
23               Palissandre Cote Ouest resort & SPA      MG     morondava
24  Whistling Woodzs - Best Jungle Resort in Dandeli      IN         vaini
25       Hotel Marchica Lagoon Resort, Nador Morocco      MA         nador
26                                 Mount Mogok Hotel      MM         mogok
27                                    Mountain Hotel      IR       birjand

In [100]:
newcities_df["practice"] = 0
newcities_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,practice
70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32,0
88,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50,0
138,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06,0
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59,0
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93,0
297,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77,0
444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17,0

In [103]:
newcities_df.loc[newcities_df['City']== "ponta do sol", "practice"] = 1

In [104]:
newcities_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,practice
70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32,1
88,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50,0
138,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06,0
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59,0
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93,0
297,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77,0
444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17,0

In [94]:
cities

['ponta do sol',
 'cidreira',
 'morondava',
 'vaini',
 'nador',
 'mogok',
 'birjand',
 'ponta do sol',
 'cidreira',
 'morondava',
 'vaini',
 'nador',
 'mogok',
 'birjand']

In [93]:
hotels

['Escarpas Resort',
 'Hotel Navegantes',
 'Palissandre Cote Ouest resort & SPA',
 'Whistling Woodzs - Best Jungle Resort in Dandeli',
 'Hotel Marchica Lagoon Resort, Nador Morocco',
 'Mount Mogok Hotel',
 'Mountain Hotel',
 'Kanto Island Inn Suites & Spa',
 'Hotel Navegantes',
 'Palissandre Cote Ouest resort & SPA',
 'Whistling Woodzs - Best Jungle Resort in Dandeli',
 'Hotel Marchica Lagoon Resort, Nador Morocco',
 'Mount Mogok Hotel',
 'Mountain Hotel']

In [83]:
response = requests.get("https://maps.googleapis.com/maps/api/place/textsearch/json?key=AIzaSyAZA2FtQRu2RCig_SILt6zNtd9FOq6ZEno&query=hotel&radius=5000&location=-20.63%2C-46.0").json()
response['results'][0]['name']

'Escarpas Resort'

In [43]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display figure